h1{
    color: green;
    border: 2px solid palegreen;
    border-radius: 50px;
}
.box{
    border: 2px solid plum;
    background-color: beige;
}
@media screen and (max-width:600px){
    .box{
        background-color: bisque;
    }
}
@media (min-width:600px) and (max-width:768px){
    .box{
        background-color: beige;

    }
}
.juice{
    border:2px solid pink;
    background-color: peachpuff;
}
.kite{
    border: 2px solid palegoldenrod;
    background-color: burlywood;
}
.birthday{
    border: 2px solid palevioletred;
    background-color: plum;
}