.justify-content-center{
    align-items: center;
}
.row{
 align-items: center;
justify-content: center;
display: flex;
}
.align-items-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.btn{
text-decoration: none;
padding: 1rem;
border-radius: 5px;
}
.btn-success{
    background-color: rgb(215, 180, 145);
    color: bisque;
}
.text-success{
color: plum;
}
.text-muted{
    color: blanchedalmond;
}